<div class="container">
  <h1>Nueva Reserva</h1>
  <form>
    <div class="form-group">
      <label for="vehiculo">Vehiculo</label>
      <input type="text" class="form-control" id="vehiculo" placeholder="Deberia venir el vehiculo por detras">
    </div>
    <div class="form-group">
      <label for="fechaReserva">Fecha</label>
      <input type="text" class="form-control" id="fechaReserva" placeholder="dd/mm/aaaa">
    </div>
    <div class="form-group">
      <label for="cliente">Clientes</label>
      <select id="cliente" class="form-control">
        <option ng-repeat="cliente in clientes"  value="{{cliente.id}}">{{cliente.nombre + " " + cliente.apellido}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="selectVendedores">Vendedores</label>
      <select id="selectVendedores" class="form-control">
        <option ng-repeat="vendedor in vendedores"  value="{{vendedor.id}}" >{{vendedor.nombre + " " + vendedor.apellido}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="precio">Precio</label>
      <input type="text" class="form-control" id="precio" placeholder="$$$">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
