<div class="container">
  <h1>Nueva Reserva</h1>
  <form>
    <div class="form-group">
      <label for="vehiculo">Vehiculo</label>
      <input type="text" class="form-control" id="vehiculo" value="{{modelo + ' ' + marca}} ">
    </div>
    <div class="form-group">
      <label for="fechaReserva">Fecha</label>
      <input type="text" class="form-control" id="fechaReserva" value="{{fecha}}">
    </div>
    <div class="form-group">
      <label for="clienteSelect">Clientes</label>
      <select id="clienteSelect" class="form-control">
        <option ng-repeat="cliente in clientes"  value="{{cliente.id}}">{{cliente.nombre + " " + cliente.apellido}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="vendedorSelect">Vendedores</label>
      <select id="vendedorSelect" class="form-control">
        <option ng-repeat="vendedor in vendedores"  value="{{vendedor.id}}" >{{vendedor.nombre + " " + vendedor.apellido}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="precio">Precio</label>
      <input type="text" class="form-control" id="precio" value="{{precioVenta}}$">
    </div>
    <a class="btn btn-default" href="#reservas" ng-click="registrarReserva()">Registrar<a/>
  </form>
</div>
