<div class="container">
	<h1>Reservas Realizadas</h1>
	<table class="table table-hover table-responsive">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Cliente</th>
				<th>Vendedor</th>
				<th>Precio</th>
				<th>Codigo</th>
				<th>Estado</th>
				<th>Cancelar</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="reserva in reservas">
				<td>{{reserva.fechaDeReserva}}</td>
				<td>{{reserva.cliente.nombre + " " + reserva.cliente.apellido}}</td>
				<td>{{reserva.vendedor.nombre + " " + reserva.vendedor.apellido}}</td>
				<td>{{reserva.precioVenta}}</td>
				<td>{{reserva.codigoDeReserva}}</td>
				<td>{{reserva.estado}}</td>
				<td><a href="#reservas" ng-click="cancelarReserva(reserva.codigoDeReserva,reserva.id)" Reserva"><i class="glyphicon glyphicon-remove"></i></a></td>
			</tr>
		</tbody>
	</table>
</div>