<div class="container">
	<h1>Vehiculos Disponibles</h1>
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label" for="clientSelect" ><h4>Clientes:</h4></label>
			<div class="col-sm-5">	
				<select class="form-control" name="clientSelect" id="clientSelect" ng-model="clientSelected">
					<option ng-repeat="cliente in clientes"  value="{{cliente.id}}">{{cliente.nombre + " " + cliente.apellido}}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="paisSelect"><h4>Paises:</h4></label>
			<div class="col-sm-5">
				<select class="form-control" name="paisSelect" id="paisSelect" ng-model="paisSelected" ng-change="cargarCiudades()">
					<option ng-repeat="pais in paises"  value="{{pais.id}}">{{pais.nombre.value}}</option>
				</select>	
			</div>
		</div>
		<div ng-if="paisSelected != undefined">
			<div class="form-group">
				<label class="col-sm-2 control-label" for="ciudadSelect"><h4>Ciudades:</h4></label>
				<div class="col-sm-5">
					<select class="form-control" name="ciudadSelect" id="ciudadSelect" ng-model="ciudadSelected" ng-change="cargarVehiculos()">
						<option id="idCiudad" ng-repeat="ciudad in ciudades"  value="{{ciudad.id}}">{{ciudad.nombre.value}}</option>
					</select>
				</div>
			</div>
		</div>
	</form>
	<div ng-if="ciudad != undefined">
		<table class="table table-hover table-responsive">
			<thead>
				<tr>
					<th>Modelo</th>
					<th>Marca</th>
					<th>CantPuertas</th>
					<th>Caja</th>
					<th>Aire</th>
					<th>Disponibles</th>
					<th>Precio Venta</th>
					<th>Reservar</th>
				</tr>
			</thead>
			<tbody style="text-align: center;">
				<tr ng-repeat="v in vehiculos">
					<td>{{v.modelo.value}}</td>
					<td>{{v.marca.value}}</td>
					<td>{{v.cantidadPuertas}}</td>
					<td>{{v.tipoCambio.value}}</td>
					<td>{{v.tieneAireAcon}}</td>
					<td>{{v.cantidadDisponible}}</td>
					<td ng-bind="getPrecioVenta()"><input type="hidden" id="precioBase" ng-value="{{v.precioPorDia}}"></td>
					<td><a href="#" Reserva"><i class="glyphicon glyphicon-thumbs-up"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>